body, .jumbotron {
    background-image: url("../images/foil.png");
}

.btn {
    margin: 5px;
}

.gifContainer, .addCategory {
    margin-top: 30px;
}

div {
    /* border: 1px solid red; */
}

table {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
}

.cell1 {
    /* text-align: left; */
}

.cell2 {
    text-align: right;
    white-space: nowrap;
}

.fa-heart {
    color: #dd3366
}

.fa-heart:hover {
    cursor: cell;
}

.fas:hover {
    cursor: unset;
}


.dl {
    color:black;
    margin-left: 5px;
}

i {
    position: relative;
    text-align: right;
}